.page-search{
    .resultadoBusqueda {
        padding: 0px;
        margin: 40px 0px 0px;
        li {
            .resultadoContainer {
                .resultadoImg {
                    overflow: hidden;
                    img {
                        max-width: 220%;
                        margin-left: -40px;
                    }
                }
                .resultadoDesc {
                    top: -16px;
                }
            }
        }
    }
    .region-content {
        .search-form {
            display: none;
        }
    }

    @include media(sm){

    }

    @include media(xs){
        .resultadoBusqueda {
            li {
                .resultadoContainer {
                    .resultadoDesc {
                        max-width: 100%;
                        top: 13px;
                    }
                    .resultadoImg {
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}