.page-servicios-online {
    ul.quicktabs-tabs {
        display: flex;
        flex-direction: row;
        //justify-content: space-evenly;
        padding: 0;
        border-radius: 3px;
        box-shadow: 0 4px 10px 0 rgba(66, 58, 66, 0.28);

        li+p {
            display: none;
        }

        li {
            height: 120px;
            background-color: $white;
            border-right: 1px solid $gray2;
            padding: 0;
            width: 20%;
            position: relative;

            &:last-child {
                border-right: 0;
            }

            &.active,
            &:hover {

                &::before {
                    @include pseudo();
                    border-top: 7px solid $gray2;
                    top: -8px;
                    left: 0;
                    width: 100%;
                }

                &::after {
                    @include pseudo();
                    border-top: 7px solid $gray2;
                    width: 100%;
                    bottom: -15px;
                    left: 0;
                    background-repeat: no-repeat;
                    height: 15px;
                    background-position: top 0px center;
                    z-index: 2;
                    @include transition(all 300ms ease-in-out);
                }
            }

            &.active {
                p {
                    color: $blue1;
                }

                &::before {
                    border-top: 7px solid $blue1;
                }

                &::after {
                    border-top: 7px solid $blue1;
                    background-image: url("../img/icons/Flecha-azul-gobierno.svg");
                }
            }

            a {
                display: block;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .tab-servicio-online {
            text-align: center;
            margin-top: 20px;

            p {
                @include fSize(16);
                font-family: $gobR;
                color: $gray3;
                margin-top: 10px;
            }
        }

        @include media(xs) {
            flex-direction: column;

            li {
                width: 100%;
                height: auto;

                &.active {

                    a{
                        background-color: $blue1;
                        p{color:$white;}
                    }

                    &::before,
                    &::after {
                        display: none;
                    }
                }

                a{
                    padding: 10px;
                }

                img {
                    display: none;
                }
            }

            .tab-servicio-online {
                margin-top: 0;

                p {
                    margin-top: 0;
                }
            }
        }
    }

    #description-tab-servicio-online {
        margin-top: 45px;
    }

    .quicktabs_main {
        margin-top: 50px;
        border-top: 1px solid rgba($blue1, 0.4);
        padding-top: 50px;
    }
}

