//colores
$black: #000;
$white: #fff;
$blue1: #0f69b4;
$blue2: #1F3B73;
$blue3: #001c41;
$green1: #9DBE15;
$gray1: #f4f3f3;
$gray2: #c0c0c0;
$gray3: #757373;
$gray4: #4a4a4a;

// Colors UI Escuela Militar
$black-nav-08: #030303;
$golden: #edb901;
$black: #000;
$white: #fff;
$gold-second: #ffc700;
$graySoft: #dedede;
$grey-background: #f6f6f6;
$gray-black: #2d2926;
$grey-light: #f3f3f5;
$grey-middle: #5d5d5d;





