.search-form {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #9b9b9b;
  background: $white;
  height: 52px;
  overflow: hidden;
  @include media(xs){
    overflow: initial;
    height: auto;
  }
  .form-control {
    border: none;
    height: 52px;
    box-shadow: none;
    //border-radius: 4px;
    font-family: $gobL;
    @include fSize(16);
  }

  .form-group {
    display: inline-block;
    @include media(xs){
      margin-bottom: 0px;
    }
  }

  .form-item-custom-search-blocks-form-1 {
    width: 67%;
    @include media(xs){
      width: 100%;
    }
  }

  .custom-search-selector {
    @extend %selector;
    border-left: 1px solid $green1 !important;
    height: 35px;
    @include media(xs){
      display: none;
    }
  }

  .form-actions {
    width: 78px;
    height: 52px;
    padding: 0;
    background: $green1;
    float: right;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    @include media(xs) {
      width: 100%;
      position: relative;
      border-radius: 4px;
      margin: 15px;
      left: 15px;
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        height: 30px;
      }
    }

    &:hover {
      background-color: darken($green1, 10%);
    }

    .form-submit {
      border: none;
      background: url('../img/icons/Lupa-icon.svg') no-repeat;
      background-position: top 6px center;
      color: $white;
      margin: 0;
      margin: 0 auto;
      display: block;
      margin-top: 3px;
      font-size: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.view-documentos {
  position: relative;

  .views-exposed-form {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #9b9b9b;
    background: $white;
    height: 52px;
    overflow: hidden;
    position: absolute;
    top: -100px;
    right: 0;
    width: 40%;

    label {
      display: none;
    }

    .form-control {
      border: none;
      height: 52px;
      box-shadow: none;
      //border-radius: 4px;
      font-family: $gobL;
      @include fSize(16);
    }

    .views-widget-filter-title {
      width: 51%;
      padding: 0;
    }

    .form-select {
      @extend %selector;
      border-left: 1px solid $green1 !important;
      height: 35px;
      background-position: center right 0 !important;
    }

    .views-submit-button {
      width: 78px;
      height: 52px;
      padding: 0;
      background: $green1;
      float: right;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &:hover {
        background-color: darken($green1, 10%);
      }

      .form-submit {
        border: none;
        background: url('../img/icons/Lupa-icon.svg') no-repeat;
        background-position: top 6px center;
        color: $white;
        margin: 0;
        margin: 0 auto;
        display: block;
        margin-top: 3px;
        font-size: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  @include media(sm) {
    .views-exposed-form {
      width: 60%;

      .views-widget-filter-title {
        width: 49%;
      }
    }
  }

  @include media(xs) {
    .views-exposed-form {
      position: relative;
      top: 0;
      width: 100%;

      .views-widget-filter-title {
        width: 44%;
      }

      .views-submit-button {
        width: 54px;
      }
    }
  }

  @include media("max-width: 369px") {
    .views-exposed-form {
      .views-widget-filter-title {
        width: 40%;
      }
      .views-widget-filter-field_categoria_tid{
        padding: 10px 0;
      }
      .form-select{
        padding: 6px 7px;
      }
    }
  }
}
