%selector{
    background: url('../img/icons/Flecha-azul.svg') no-repeat $white;
    background-position: center right 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;

    /*Para IE 10 - 11*/
    &::-ms-expand {
      display: none;
    }

    &:hover {
      background-color: $gray1;
    }

    &:focus {
      outline: none;
      background-color: $white;
    }
  }